<div class="box articles">
	<h2>
		<a name="article-link" id="articlesx" class="toggle">Recent Articles</a>
	</h2>
	<div class="block" id="articlesx-toggle">
		<div class="first article">
			<h3><a name="heading1">Article Heading</a></h3>
			<p class="meta">Sydney &mdash; Wednesday, 11 February 2009</p>
			<a name="image1" class="image"><img src="/images/photo_60x60.jpg" width="60" height="60" alt="photo"/></a>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <a name="link1">Visit site.</a></p>
		</div>
		<div class="article">
			<h3><a name="heading2">Article Heading</a></h3>
			<p class="meta">Beijing &mdash; Wednesday, 4 March 2009</p>
			<a name="image2" class="image"><img src="/images/photo_60x60.jpg" width="60" height="60" alt="photo"/></a>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <a name="link2">Visit site.</a></p>
		</div>
	</div>
</div>