<div class="box articles">
	<h2>
		<a name="article-link" id="articlesx" class="toggle">Welcome!</a>
	</h2>
	<div class="block" id="articlesx-toggle">
		<div class="first article clearfix">
			<h3><a name="heading1">What to do next</a></h3>
			<p class="meta">Sydney &mdash; Wednesday, 11 February 2009</p>
			<a name="image1" class="image"><img src="/images/photo_60x60.jpg" width="60" height="60" alt="photo"/></a>
			<p>Welcome to our campaign management community.  We're using this system because we can see how the combination of content management, response tracking, opportunity creation and social media can really help us grow our business.  You are an integral part of realising that vision and we look forward to your participation and support.  Now that you're here there are a few things you can do to get started. You can:</p>
			  <ul>
			  <li>Update your <a href='#'>profile</a> and upload an <a href='#'>image</a> of yourself</li>
			  <li>View the <a href='#'>video tutorials</a> to help you get up to speed</li>
			  <li>Join in the <a href='#'>conversation</a> and share your thoughts and experience</li>
			  </ul>
		</div>
		<div class="article clearfix">
			<h3><a name="heading2">Executing successful campaigns</a></h3>
			<p class="meta">Beijing &mdash; Wednesday, 4 March 2009</p>
			<a name="image2" class="image"><img src="/images/photo_60x60.jpg" width="60" height="60" alt="photo"/></a>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <a name="link2">Visit site.</a></p>
		</div>
	</div>
</div>
