<div class="box">
	<h2><a name="accordian" id="accordian" class="toggle">Accordian</a></h2>
	<div class="block accordian-block" id="accordian-toggle">
		<div id="accordion" class="accordian">
			<h3 class="trig">Design Process</h3>
			<div class="targ">
				<h4>The Value of Design</h4>
				<p>Design is based on the inspiration of past accomplishments. On that foundation, we can build upon those achievements to shape the future. Design is about life &mdash; past, present and future &mdash; and the learning process that happens between birth and death. It is about community and shared knowledge and experience. It is the passion to build on what we&apos;ve learned to create something better.</p>
			</div>
			<h3 class="trig">Design Influences</h3>
			<div class="targ">
				<h4>About this Site</h4>
				<p>The words "design influences" can be understood as both a plural noun and as subject and verb. The plural noun speaks of those who have come before us and paved the way. The verb speaks of the responsibility of design to lead the way. By understanding where we have come from, we have a better idea of where we are going and, perhaps, where we should be heading.</p>
			</div>
			<h3 class="trig">Inspiration</h3>
			<div class="targ">
				<h4>Inspired by the Past</h4>
				<p>I have been inspired by the work of many who have pioneered advances in Web Standards, including 
					<a href="http://www.31three.com/" title="www.31three.com">Jesse Bennett-Chamberlain</a>, 
					<a href="http://www.stopdesign.com/" title="www.stopdesign.com">Douglas Bowman</a>, 
					<a href="http://www.chaoticpattern.com/" title="www.chaoticpattern.com">Allen Chang</a>, 
					<a href="http://www.stuffandnonsense.co.uk/" title="www.stuffandnonsense.co.uk">Andy Clarke</a>, 
					<a href="http://www.hicksdesign.co.uk/" title="www.hicksdesign.co.uk">Jon Hicks</a>, 
					<a href="http://www.shauninman.com/" title="www.shauninman.com">Shaun Inman</a>, 
					<a href="http://www.cameronmoll.com/" title="www.cameronmoll.com">Cameron Moll</a>, 
					<a href="http://veerle.duoh.com/" title="veerle.duoh.com">Veerle Pieters</a>, 
					<a href="http://www.jasonsantamaria.com/" title="www.jasonsantamaria.com">Jason Santa Maria</a>, 
					<a href="http://www.mezzoblue.com/" title="www.mezzoblue.com">Dave Shea</a>, 
					<a href="http://www.thebignoob.com/" title="www.thebignoob.com">Ryan Sims</a>, 
					<a href="http://www.sonspring.com/" title="www.sonspring.com">Nathan Smith</a>, and 
					<a href="http://www.zeldman.com/" title="www.zeldman.com">Jeffrey Zeldman</a>, 
					to name a few. Thank you for inspiring <a href="http://www.domain7.com/WhoWeAre/StephenBau.html" title="Stephen Bau, Designer, Domain7">me</a> to give something back.</p>
			</div>
			<h3 class="trig">Contribution</h3>
			<div class="targ">
				<h4>Shaping the Future</h4>
				<p>The <a href="/fluid960gs/">Fluid 960 Grid System</a> templates have been built upon the work of Nathan Smith and his <a href="http://960.gs/">960 Grid System</a> using effects from the <a href="http://www.mootools.net/">Mootools</a> JavaScript library. The idea for building these templates was inspired by Andy Clarke, author of <a href="http://www.transcendingcss.com/">Transcending CSS</a>, who advocates a content-out approach to rapid interactive prototyping, crediting Jason Santa Maria with the <a href="http://www.jasonsantamaria.com/archive/2004/05/24/grey_box_method.php">grey box method</a>.</p>
			</div>
		</div>
	</div>
</div>