<div class="box">
	<h2>
		<a id="ajax" class="ajax toggle" rel="/ajax-response.html">
			<img id="ajax-loading" src="/images/ajax-loader.gif" alt="Loading" class="loading" />
			Ajax Content
		</a>
	</h2>
	<div class="block hidden" id="ajax-toggle">
		Content loaded dynamically
	</div>
</div>