<div class="grid_12">
	<div class="box" id="kwick-box">
		<h2>Mootools Fx.Elements</h2>
		<div id="kwick">
			<ul class="kwicks">
				<li><a class="kwick one" name="one"><span>One</span></a></li>
				<li><a class="kwick two" name="two"><span>Two</span></a></li>
				<li><a class="kwick three" name="three"><span>Three</span></a></li>
				<li><a class="kwick four" name="four"><span>Four</span></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>