<div class="box">
	<h2>
		<a name="paragraph" id="paragraphs" class="toggle">Paragraphs</a>
	</h2>
	<div class="block hidden" id="paragraphs-toggle">
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
		
		<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
	</div>
</div>