<div class="box">
	<h2>
		<a name="search" id="search" class="toggle">Search</a>
	</h2>
	<div class="block" id="search-toggle">
		<form method="get" action="" class="search">
			<p>
				<input class="search text" name="value" type="text"/>
				<input class="search button" value="Search" type="submit"/>
			</p>
		</form>
	</div>
</div>