<div class="box">
	<h2><a name="tab" id="tab" class="toggle">Tabs</a></h2>
  <dl id="tab-toggle" class="tab">
    <dt>Tab heading 1</dt>
    <dd>Contents of tab 1.  These are some contents that are displayed in the first tab.  I want to type some more so that it wraps over the second line so I can check how the padding is.</dd>
    <dt>Tab heading 2</dt>
    <dd>Contens of tab 2</dd>
    <dt>Tab heading 3</dt>
    <dd>Contents of tab 3</dd>
  </dl>
</div>