<div class="box clearfix">
  <p style="float:left">Created by <a id="test" href="http://www.xroads.com.au">Crossroads Multimedia</a> and <a href="http://www.noexpectations.com.au">No Expectations Projects</a>.</p>
  <p style="float:right"> <a href='#'>Terms of Service</a> | <a href='#'>Privacy</a> | <a href='#'>Contact</a>.</p>
</div>