<div class="box">
	<h2>
		<a name="search" id="search" class="toggle">What are you doing now?</a>
	</h2>
	<div class="block" id="search-toggle">
		<form method="get" action="" class="search">
			<p>
				<input class="search text" name="tweet" type="text"/>
				<input class="search button" value="Update" type="submit"/>
			</p>
			<p class="prompt">Change your <a href='#'>settings</a>.</p>
		</form>
	</div>
</div>