<div class="box">
	<div class="block" id="tables-toggle">
		<table summary="Summary of active campaigns">
			<colgroup>
				<col class="colA"/>
				<col class="colB"/>
				<col class="colC"/>
			</colgroup>
			<thead>
				<tr>
					<th>Campaign</th>
					<th class="number">Sent</th>
					<th class="number">Responses</th>
				</tr>
			</thead>
			<tfoot>
				<tr class="total">
					<th>Total</th>
					<td class="number">8,990,161</td>
					<th class="number">1,303,300</th>
				</tr>
			</tfoot>
			<tbody>
				<tr class="odd">
					<th><a href="<%= campaign_path(1) %>">News Limited Subscription offer</a></th>
					<td class="number">85,000</td>
					<td class="number">1,250</td>
				</tr>
				<tr>
					<th>Pacific Brands staff reduction</th>
					<td class="number">9,500</td>
					<td class="number">1,875</td>
				</tr>
				<tr class="odd">
					<th>SAP Small Business Asia</th>
					<td class="number">1,435,768</td>
					<td class="number">62,754</td>
				</tr>
				<tr>
					<th>Chinacom retention</th>
					<td class="number">7,448,362</td>
					<td class="number">1,236,869</td>
				</tr>
				<tr class="odd">
					<th>Liberal Party recruitment</th>
					<td class="number">11,531</td>
					<td class="number">552</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>