<div class="box">
	<h2><a name="tab" id="tab" class="toggle">Campaigns</a></h2>
  <dl id="tab-toggle" class="tab">
  <dt>Currently Executing</dt>
    <dd><%= render "executing" %></dd>
    <dt>In Planning</dt>
    <dd><%= render "planning" %></dd>
    <dt>Completed</dt>
    <dd><%= render "completed" %></dd>
  </dl>
</div>