<!-- Left column -->
<div id="left" class="grid_8">
	<%= render "index" %>
</div>

<!-- right column -->
<div id="right" class="grid_4">
  <%= render "widgets/tweet" %>
	<%= render "prototypes/search" %>
	<%= render "calendars/this_month" %>		
</div>
<div class="clear"></div>
