<div class="box help">
	<h2><a name="tab" id="tab" class="help">New Account Information</a></h2>
  <dl id="tab-toggle" class="tab">
    <dt>Account management</dt>
    <dd>
    <h5>Upgrade and downgrade</h5>
    <p>You can change your account plan at any time.  Upgrade to a plan with greater capacity, or downgrade to a smaller plan.  Your only commitment is for 30 days.  Change your mind any time and your changes will be effective with the start of your next billing cycle.<p>

    <h5>No hidden charges, no long term contracts</h5>
    <p>There are no signing fees, no termination fees, no handling fees. Cancel any time.</p>

    <h5>Your information is secure</h5>
    <p>We appreciate the importance of maintaining your information securely and privately.</p>
    </dd>
    <dt>Web Browsers</dt>
    <dd>
    <h5>Supported Browsers</h5>
    <p><%= tt(:site_name) %> is developed to support the latest web standards.</p><p>You'll have the best experience if
    you're using <em>Firefox version 3</em> (or the beta 3.1) or <em>Safari 3</em>.</p>
    <p>ManageMyForecast.com also works well with <em>Internet Explorer (Version 6 and above)</em>, Firefox 2 and Safari 2.</p>
    </dd>
  </dl>
</div>